window
{
    title = Battle Bots
    width = 1280
    height = 720
    fullscreen = false
    samples = 2
}

aliases 
{
    brick_grey = res/dds/brick_grey.dds
    concrete = res/dds/concrete.dds
    concrete_bare = res/dds/concrete_bare.dds
    marble = res/dds/marble.dds
    grass = res/dds/grass.dds
}